/* font-family: 'Palanquin', sans-serif;
font-family: 'Staatliches', cursive; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-h1: 'Staatliches';
  --ff-p: 'Palanquin', sans-serif;

  font-size: 62.5%;
  --fs-body: 1.6rem;

  --bg-1: hsl(233, 100%, 97%);
  --bg-before: hsl(218, 17%, 62%);
  --bg-h1-1: hsl(275, 18%, 79%);
  --bg-4: hsl(312, 91%, 96%);

  --fc-h1-1: hsl(0, 0%, 100%);
  --fc-h1-2: hsl(232, 17%, 35%);
  --fc-p: hsl(274, 84%, 12%);

  --fs-h1-title: 4rem;
  --fs-h1: 2rem;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 38.4rem;
  margin: auto;

  font-family: var(--ff-p);
}

header::before {
  content: '';
  width: 38.4rem;
  height: 27.9rem;

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  background: var(--bg-before);
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
}


header img {
  height: 13.7rem;
  margin: 3.2rem 0 4rem;

  z-index: 1;
}


header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  height: 4.9rem;
  z-index: 1;

  color: var(--fc-h1-1);
  background: var(--bg-h1-1);

  font-size: var(--fs-h1-title);
}

main {
  background-color: var(--bg-1);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  padding: 0 4.3rem 6rem;
}

main p {
  font-weight: 400;
  margin-top: 4.3rem;

  font-family: var(--ff-p);
  font-size: 2rem;
  line-height: 1.5rem;

  color: var(--fc-p);
}

.card-1 img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
  border-radius: 2.0rem;

  filter: brightness(0.8);

  transition: all 200ms;

  animation: downtop 700ms;
}

.card-2 img {
  height: 45rem;
  width: 100%;
  object-fit: cover;
  border-radius: 2.0rem;

  filter: brightness(0.8);
  transition: all 200ms;

  animation: downtop 700ms;
}

.card-1 img:hover,
.card-2 img:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.card-1,
.card-2 {
  position: relative;
}

.card-1 h1,
.card-2 h1 {

  position: absolute;
  top: 17px;
  right: 16px;

  font-size: var(--fs-h1);
  letter-spacing: 0.05em;

  color: var(--fc-h1-2);
  background-color: var(--bg-4);

  padding: 1px 23px;
  border-radius: 2rem;

  animation: topdown 700ms 400ms backwards;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes downtop { 
   0% {
    opacity: 0;
    transform: translateY(6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}